.form__labelText {
    width: 100%;
    max-width: 150px;
    display: inline-block;
    margin-right: 5px;
    font-size: 25px;
    text-shadow: 6px 4px 10px white;
}

.form__input {
    border-top: none;
    border-left: none;
    border-right: none;
    max-width: 300px;
    width: 100%;
    padding: 20px;
}

.form__button {
    border: none;
    width: 100%;
    margin: 0 auto;
    border-radius: 7px;
    text-align: center;
    padding: 12px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: black;
    color: antiquewhite;
}

.form__button:hover {
    background-color: rgb(39, 36, 36);
    transition: 2s;
}

.form__button:active {
    background-color: rgb(88, 85, 85);
}

.form__fieldset {
    border: none;
    text-align: center;
}

.form__legend {
    background-color: black;
    color: antiquewhite;
    border-radius: 7px;
    padding: 12px;
}

.result {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
}

.form--element {
    background-image: url("../images/backg.jpeg");
    background-size: cover;
}

.form__img {
    width: 700px;
    height: 372px;
    background-image: url("../images/tabela.png");
    background-repeat: no-repeat;
    margin: 0 auto;
}

.form__description {
    margin: 30px 60px auto;
}